/* CSS Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  --scale: 50px;
  display: block;
  background: linear-gradient(to right, transparent 98%, lightgray 98%),
      linear-gradient(to bottom, transparent 98%, lightgray 98%);
  background-position: 50vw 50vh;
  background-size: var(--scale) var(--scale);
}

.inputs-outer-container {
  position: fixed;
  bottom: 1rem;
  left: 1rem;

  background-color: rgb(36, 39, 58);
  padding: 1rem;
  border-radius: .5rem;
  color: rgb(202, 211, 245);
}

.inputs-container {
  padding: .2rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.input-number {
  width: 4rem;
}
